* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
  width: 0;
}
html,
body {
  overflow-x: hidden;
  position: relative;
}
main {
  /* margin: 2px; */
  height: 100vh;
  height: 100svh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/landingImg5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -999;
  color: #ffffff;
}

#navBar {
  position: fixed;
  top: 0;
  height: 60px;
  background-color: #0d213a;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  z-index: 999;
}
#NavElem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}
#HamburgerBox {
  display: none;
}
#nameLogo,
#options,
#login-getStarted {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
}

#nameLogo {
  gap: 5px;
  font-weight: 700;
  font-size: 20px;
}

#options {
  gap: 35px;
}

#getStarted {
  cursor: pointer;
  margin-left: 20px;
  background-color: #216fee;
  padding: 8px 15px;
  border-radius: 30px;
}

#getStarted:hover {
  background-color: #2065d4;
}
.pTag {
  cursor: pointer;
}

.pTag:hover {
  color: #ff004d;
  font-weight: 700;
}
#heroSection {
  /* height: 100svh; */
  position: absolute;
  top: 150px;
  left: 150px;
}
#HeroMsg {
  width: 390px;
}

#Heading {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
}

#title {
  font-size: 13px;
  line-height: 2;
}
#SearchContainer {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: 15px;
  background-color: #ffffff;
}
.SearchElem {
  display: flex;
  align-items: center;
  gap: 20px;
  border-right: 2px solid #5555;
  border-radius: 5px;
  padding: 5px;
}
.item {
  color: #216fee;
}

.ElemContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ElemContainer > label {
  font-size: 13px;
  font-weight: 700;
  color: #0d213a;
}

.optioncontainer {
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  color: #0d213a;
}

.optioncontainer > option {
  color: #0d213a;
  outline: none;
}

#Location > p {
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 700;
  color: #0d213a;
}

#Location > input {
  outline: none;
  border: none;
  color: #0d213a;
  font-weight: 500;
}

#SearchBar {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  gap: 10px;
  background-color: #216fee;
  padding: 17px;
  border-radius: 15px;
  cursor: pointer;
}

#SearchBar:hover {
  background-color: #2065d4;
}

#page2 {
  margin: 20px 80px;
  background-color: #ffffff;
  color: #0d213a;
}

#exploreMoreDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

#P2Heading {
  font-size: 32px;
  font-weight: 700;
}

#p2Title {
  color: #555555;
  margin-top: 15px;
  line-height: 1.8;
  font-size: 14px;
  max-width: 600px;
  font-weight: 500;
}

#exploreMore {
  background-color: #216fee;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

#exploreMore > p > span {
  margin-left: 10px;
}
#cardContainer {
  margin-top: 20px;
  gap: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin: 5px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-width: 260px;
}
.Image {
  width: 300px;
}

.Image img {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
}
.Image > i {
  cursor: pointer;
  position: absolute;
  border-radius: 5px;
  color: #ff004d;
  top: 7px;
  right: 7px;
  padding: 8px;
  font-size: 20px;
  background-color: #ffffff;
}

.price {
  padding-top: 15px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 700;
}

.cardHeading {
  padding-top: 10px;
  display: inline;
  text-decoration: none;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #0d213a;
}
.cardHeading:hover {
  color: #216fee;
}
.cardTitle {
  padding-top: 10px;
  margin-left: 15px;
  width: 230px;
  font-size: 13px;
  font-weight: 500;
  color: #555555;
}

.facility {
  padding: 15px;
  margin: 10px;
  border-top: 1px solid #5555;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#marketingBoxContainer {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.marketingBox1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 10px;
  justify-content: center;
}
#MarketingBox1 {
  flex-direction: row-reverse;
}
.marketingImg1 {
  min-width: 430px;
  width: 500px;
  height: 345px;
  margin: 50px;
  border-radius: 15px;
  overflow: hidden;
}
.marketingImg1 > img {
  width: 100%;
  height: 100%;

  background-size: cover;
}

.marketingTxt1Heading {
  font-size: 32px;
  font-weight: 700;
  width: 240px;
}

.marketingTxt1Title {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  color: #555555;
  max-width: 370px;
}
.marketingTxt1Facility {
  margin-top: 15px;
  font-size: 11px;
  display: flex;
  gap: 50px;
}

.FacilityBox {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.FacilityBox > span > i {
  color: #2065d4;
  margin-right: 5px;
}
#ourCustomerContainer {
  padding: 0 100px;
}
#OurCustomerTitle {
  font-size: 14px;
  font-weight: 700;
  color: #216fee;
}
#OCbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#OCheading {
  font-size: 32px;
  margin-top: 15px;
  font-weight: 700;
  width: 470px;
  line-height: 1.5;
}

#viewAll {
  border: 2px solid #2065d4;
  border-radius: 30px;
  color: #2065d4;
  cursor: pointer;
  padding: 7px 15px;
  font-size: 13px;
  font-weight: 700;
}

#viewAll:hover {
  background-color: #2065d4;
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}

#familyPhotoContainer {
  /* padding: 20px 100px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.familyPhotoCard {
  position: relative;
  background-repeat: no-repeat;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  min-width: 260px;
  width: 350px;
  background-size: cover;
}
.familyPhotoCard:hover {
  transform: scale(1.002);
}

.NameContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 10px;
  color: rgb(255, 217, 4);
  font-size: 14px;
  font-weight: 500;
  left: 10px;
  width: 90%;
  margin: 10px;
}
.FamilyProfile {
  z-index: 11;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: cover;
}

#footerContainer {
  padding: 60px;
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #0d213a;
  width: 100%;
  /* height: 250px; */
  gap: 20px;
  color: #ffffff;
}
#footerContainerBox1 {
  width: 270px;
}
#footerContainerBox2 {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 20px;
  /* align-items: center; */
  /* justify-content: center; */
}
#footerLogo > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 20px;
}
#footerTitle {
  width: 270px;
  margin-right: 20px;
}
.footerElem {
  width: 150px;
}
.footerPara {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
.footerLink {
  text-decoration: none;
  color: #ffffff;
  display: block;
  font-size: 13px;
  line-height: 1.5;
}
.Inst-Linkedin {
  margin: 5px 10px;
  text-decoration: none;
}
.Inst-Linkedin > i {
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
}
#copyright {
  border: 1px solid #555555;
  padding: 5px 20px;
  background-color: #0d213a;
  color: #ffffff;
  display: grid;
  align-items: center;
  justify-content: center;
  line-height: 2;
  font-size: 12px;
}

@media (max-width: 800px) {
  #HamburgerBox {
    display: block;
  }
  #options {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    color: #0d213a;
    margin-left: 15px;
  }
  #login-getStarted {
    margin-left: 15px;
    color: #0d213a;
    align-items: flex-start;
    flex-direction: column;
  }
  #NavElem {
    background-color: #f6f0ebb6;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    gap: 15px;
    position: absolute;
    top: 60px;
    right: 5px;
    padding: 20px;
    border-radius: 15px;
  }
  .HideHamburger {
    visibility: hidden;
  }
  .ShowHamburger {
    visibility: visible;
  }
  #getStarted {
    margin-left: -15px;
    margin-top: 10px;
    background-color: #216fee;
    padding: 8px 50px;
    border-radius: 30px;
    color: #ffffff;
  }

  #SearchContainer {
    margin-top: 60px;
    display: block;
  }

  .SearchElem {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    border-right: none;
  }
  main {
    /* margin: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  #heroSection {
    height: auto;
    margin: 10px;
    position: relative;
    top: auto;
    left: auto;
    min-width: 250px;
    max-width: 420px;
  }
  #Heading {
    font-size: 30px;
    line-height: 1;
  }
  #title {
    line-height: 1;
    min-width: 250px;
  }
  #HeroMsg {
    width: 100%;
  }
  #page2 {
    margin: 20px 20px;
  }
  #exploreMoreDiv {
    padding: 0;
  }
  #P2Heading {
    font-size: 25px;
  }
  #exploreMore {
    margin-top: 15px;
  }
  .marketingImg1 {
    margin: 20px;
    min-width: 270px;
  }
  .marketingTxt1 {
    min-width: 270px;
    max-width: 380px;
  }
}
